body {
  background-color: #000b14;
  color: #c5bdaa;
}

hr {
  border-style: dotted none none;
  border-color: #5C1F31;
  border-width: 5px;
  height: 0px;
  width: 25%
}

h1 {
font-family: 'Josefin Sans', sans-serif;;
  color: #85A29D;
}

h3 {
font-family: 'Josefin Sans', sans-serif;;
  color: #85a29d;
}

p {
  font-family: 'Poppins', sans-serif;
}

table {
  font-family: 'Poppins', sans-serif;
}

ul {
  font-family: 'Poppins', sans-serif;
}
